<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h2 {
            background-color: rgb(16, 107, 107);
            color: white;
        }
    </style>
</head>
<body>
    <h2>Bitcoin: {{ btc }} $ </h2>
    <h2>Ethereum: {{ eth }} $ </h2>
    <h2>Cardano: {{ ada }} $ </h2>
    <h2>Dogecoin: {{ doge }} $ </h2>
    <h2>Litecoin: {{ ltc }} $ </h2>
</body>
</html>